<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <title>Blogz!</title>
        <h3 class="inline-text">
            <a href="/">Main Blog Page</a>
            <a href="/blog">All Blog Posts</a>
            <a href="/newpost">Add a Blog Entry</a>
            <a href="/login">Login</a>
            <a href="/signup">Create New Account</a>
            <a href="/logout">Logout</a>
        </h3>
</head>
<header class="w3-container w3-center w3-padding-32">
        <h1><b>{{title}}</b></h1>
</header>

<body class="w3-light-grey">

<div class="w3-row">

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>