{% extends "base.html" %}

{% block content %}

        {% for post in blog_posts %}
    <div class="container-fluid">
        <div class="position-static">
            <h3>
                <blockquote class="blockquote text-center">
                    <a href="/blog?id={{post.id}}">{{post.title}}</a>
                </blockquote>
            </h3>
            <h6>
                <blockquote class="blockquote text-center">
                {{post.pub_date.strftime('%m-%d-%Y')}}
                </blockquote>
            </h6>
        </div>

        <div class="position-static">
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">{{post.body}}</p>
                        <footer class="blockquote-footer">
                            Written by <a href="/blog?user={{post.owner_id}}">{{post.owner.username}}</a>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}

        {% for post in new_post %}
    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <h3><b>
                <a href="/blog?id={{post.id}}">{{post.title}}</a>
            </b></h3>
            <h5 class="w3-opacity">{{post.pub_date.strftime('%m-%d-%Y')}}</h5>
        </div>
        <div class="w3-container">
            <p>{{post.body}}</p>
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <p>
                    Written by
                    <a href="/blog?user={{post.owner_id}}">{{post.owner.username}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
{% endblock %}