{% extends "base.html" %}

{% block content %}

    <h3 class="inline-text">
        <a href="/blog">Main Blog Page</a>
    </h3>
    <h3 class="inline-text">
        <a href="/newpost">Add a Blog Entry</a>
    </h3>

    <h1>Build a Blog</h1>



    <hr />

    {% if tasks|length == 0 %}
    <p>No tasks yet</p>
    {% else %}

        <ul>
            {% for task in tasks %}
            <li>{{blog.title}}
                <form method="POST" action="/blog">


                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    <h2>Completed</h2>

    <ul>
        {% for task in completed_tasks %}
        <li>{{task.name}}</li>
        {% endfor %}
    </ul>

{% endblock %}