{% extends "base.html" %}

{% block content %}

<form action="/login" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" class="form-control" type="text" value="{{ username }}">
        <label for="password">Password</label>
    </div>
    <div class="form-group">
        <input name="password" type="password">
        <input type="submit" class="form-control" value="Login">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}