{% extends "bootstrap/base.html" %}

{% block content %}

        {% for post in user_posts %}
    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <h2>
                <blockquote class="blockquote text-center">
                    <a href="/blog?id={{post.id}}">{{post.title}}</a>
                </blockquote>
            </h2>
            <h6>
                <blockquote class="blockquote text-center">
                {{post.pub_date.strftime('%m-%d-%Y')}}
                </blockquote>
            </h6>
        </div>
        <div class="w3-container">
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">{{post.body}}</p>
                        <footer class="blockquote-footer">
                            Written by <a href="/blog?user={{post.owner_id}}">{{post.owner.username}}</a>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}

{% endblock %}